<div class="container mt-4" *ngIf="character">
    <div class="row">
        <div class="col-md-3 bg-dark p-3 m-2" style="height: fit-content;">
            <img [src]="character.image" [alt]="character.name" class="img-fluid rounded">
                <div class="mt-3 text-light border border-secondary">
                    <h2 class="border border-secondary">{{ character.name }}</h2>
                    <p><strong>Status:</strong> {{ character.status }}</p>
                    <p><strong>Species:</strong> {{ character.species }}</p>
                    <p><strong>Gender:</strong> {{ character.gender }}</p>
                    <p><strong>Origin:</strong> {{ character.origin.name }}</p>
                    <p><strong>Location:</strong> {{ character.location.name }}</p>
                </div>
        </div>
        <div class="col-md-7 bg-dark text-light p-3 m-2 border border-secondary">
            <h3 class="mt-10 border border-secondary">List of Episodes appearances</h3>
                <div class="border border-secondary">
                    <p class="" *ngFor="let episode of episodes"> Episode {{ episode }}</p>
                </div>
        </div>
    </div>
</div>
